@model EventAppLibrary.Models.Event

@{
    ViewData["Title"] = "Ürituse lisamine";
    DateTime twoYearsFromNow = DateTime.Now.AddYears(2);
    string maxDate = twoYearsFromNow.ToString("yyyy-MM-ddTHH:mm");
}


<h1>@ViewData["Title"]</h1>

<form asp-action="AddEvent" asp-controller="Event" method="post">
    <div class="form-group">
        <label for="name">Ürituse nimi</label>
        <input type="text" class="form-control" id="name" name="Name" required />
    </div>
    <div class="form-group">
        <label for="dateAndTime">Toimumisaeg</label>
        <input type="datetime-local" class="form-control" id="dateAndTime" name="DateAndTime" required min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="@maxDate" />
    </div>
    <div class="form-group">
        <label for="eventPlace">Koht</label>
        <input type="text" class="form-control" id="eventPlace" name="EventPlace" required />
    </div>
    <div class="form-group">
        <label for="additionalInformation">Lisainfo</label>
        <textarea class="form-control" id="additionalInformation" name="AdditionalInformation" maxlength="1000"></textarea>
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary">Salvesta</button>
    <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Tagasi</a>
</form>

